body {
    background-color: rgb(110, 254, 255);
}

.nav {
    list-style-type: none;
    background-color: rgb(1, 91, 163);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: rgb(123, 153, 190);
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: rgb(11, 37, 135);
    color: white;
}

.active {
    background-color: rgb(66, 66, 66);
}

div {
    size: 25px;
    color: rgb(44, 44, 44);
    display: block;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-family: 'Times New Roman', Times, serif
    /*Font family is the new thing I learned*/
}