    div {
        text-align: center;
        margin: 0 auto auto;
        width: 100%;
    }
    
    body {
        background: rgb(22, 130, 40);
    }
    
    .cd {
        width: 100%;
    }
    
    h1,
    p {
        color: red;
        text-align: center;
    }
    
    p {
        font-size: 30px
    }
    
    body {
        font-family: sans-serif;
    }
    
    h1 {
        background: rgb(22, 100, 34);
        margin: 0px;
        padding: 10px
    }